extends user-template.pug

block navigation
	include partials/nav-logged-in.pug

block content
	main.w-100.bt.b--black-10.bg-white
		section
			#main
		section
			p= message
			p= errors

block pagescripts
	script(src=js_mount + '/bundle.js')
